python-dotenv
sentence-transformers
transformers
torch
langchain
tiktoken
rapidocr-onnxruntime
python-dotenv
langchain-community
ipykernel
chromadb
faiss-cpu
langchain-cohere
cohere
python-dotenv==1.1.1
structlog
langchain-core
langchain-groq
langchain-google-genai
docx2txt
python-multipart
fastapi
uvicorn
Jinja2
langsmith
pandas